.footer
{
    display:flex;
    border:1px solid black;
    border:none;
    margin-top: 160px;
    justify-items: center;

}
.footer1
{
    display:inline-block;
    margin-left:180px;
}
.items{
    display:inline-block;
    margin-left:650px;
    margin-top:15px;
   
}
.footer-items2
{
    color:black !important;
    margin-left:40px;
   
  
}
