/* .jobform
{
    border:1px solid black;
    height:250px;
    width:250px;
    background-color: white !important;
   
    
   
}
.checkbox
{
  line-height: 20px;
  margin-left:35px;
}
h3{
  margin-left:35px;
} */